.placeholder {
    background-color: #FFFFFF;
}

.placeholder h1 {
    color: #399BCC;
    float: left;
    font: 29px 'Open Sans Condensed',sans-serif;
    text-transform: capitalize;
    margin: 0px;
}

.image {
    display: inline-block;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.h-space {
    display: inline-block;
    width: 10px;
}

.fnx-tree-box {
    border: 1px solid #519BC2;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    padding: 4px;
    z-index: -5000;
    height: 42px;
    z-index: 1000;
}

.tree-menu-box {
    background-color: #5EADD4;
    border-bottom: 1px solid #669AB4;
    border-top: 1px solid #CDE9F5;
    cursor: pointer;
    text-transform: uppercase;
    border-left: 1px solid #9BDDFF;
    border-right: 1px solid #3B8EB8;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    list-style: none outside none;
    padding-top: 4px;
    text-align: center;
    text-shadow: 0 1px #669AB4;
    /*width: 140px;*/
    width: 100%;
}

.tree-menu-box:hover {
    background: none repeat scroll 0 0 #519BC2;
    height: 21px;
}

.jqx-widget-content {
    border-color: #FFFFFF;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}