.placeholder {
    background-color: #FFFFFF;
}

.placeholder h1 {
    color: #399BCC;
    float: left;
    font: 29px 'Open Sans Condensed',sans-serif;
    text-transform: capitalize;
    margin: 0px;
}

.image {
    display: inline-block;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.h-space {
    display: inline-block;
    width: 8px;
}

.fnx-tree-box {
    border: 1px solid #000000;
    width: 198px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    padding: 4px;
    z-index: -5000;
}