.placeholder {
    background-color: #FFFFFF;
}

.placeholder h1 {
    color: #399BCC;
    float: left;
    font: 29px 'Open Sans Condensed',sans-serif;
    text-transform: capitalize;
    margin: 0px;
}

.image {
    display: inline-block;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.h-space {
    display: inline-block;
    width: 10px;
}

.fnx-tree-box {
    border: 1px solid #519BC2;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    padding: 4px;
    z-index: -5000;
}

.tree-menu-box {
    background-color: #5EADD4;
    border-bottom: 1px solid #669AB4;
    border-top: 1px solid #CDE9F5;
    cursor: pointer;
    text-transform: uppercase;
    border-left: 1px solid #9BDDFF;
    border-right: 1px solid #3B8EB8;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    font-weight: bold;
    height: 21px;
    list-style: none outside none;
    padding-top: 8px;
    text-align: center;
    text-shadow: 0 1px #669AB4;
    width: 140px;
}

.tree-menu-box:hover {
    background: none repeat scroll 0 0 #519BC2;
    height: 21px;
}